html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

body
{
	background-color: White;
	/* For testing only*/
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	margin: 0;
	/*letter-spacing: 0.03em;*/
}

div
{
	/*border: 1px solid Chocolate;*/
	/* For testing only */
}

.content
{
	max-width: 970px;
	margin: 0 auto;
}

.welcome {
  float: right;
  line-height: 50px;
}

.welcome-page-hero {
  background-image: url('../assets/bubble_hero.jpg');
  position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  background-color: #2e9f98;
  text-align: center;
}

.welcome-page-box {
  background: rgba(255,255,255,0.95);
  border-radius: 10px;
  width: 700px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  padding: 30px;
}

.welcome-page-title {
  font-family: 'Comfortaa', serif;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}

.welcome-page-title-beta {
  font-family: 'Comfortaa', serif;
  font-size: 30px;
  font-weight: 700;
}

.welcome-page-lower {
  display: flex;
  margin-top: 10px;
}

.welcome-page-marketing {
  padding: 20px;
  width: 600px;
}

.welcome-page-signup {
  background-color:  rgb(255, 255, 255);
  box-shadow: lightgrey;
  border-radius: 5px;
  border-width: 1px;
  border-color: lightblue;
  border-style: solid;
  width: 500px;
  margin: 10px;
  padding: 10px;
}

.top-navigation
{
	background-color: #459691;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 9999;
	height: 50px;
}

.top-navigation-left {
  float: left;
  width: 100%;
}

.top-title {
  font-family: 'Comfortaa', serif;
  font-size: 20px;
  line-height: 50px;
  width: 100%;
  color: white;
}

.top-navigation-user {
  color: white;
  font-size: 14px;
  letter-spacing: 0.05em;

}

img {
    vertical-align: middle;
}
.topSpacer {
  height: 70px;
  position: relative;
}

.text-header {
  font-size: 1.6em;
  font-weight: strong;
}

.loginHints {
  font-size: .8em;
  text-decoration: none;
}

.marketingTextLarge {
  font-size: 2
  em;
}

.marketingTextMedium  {
  font-size: 1.5em;
}

.marketingSpacing {
  margin-top: 20px;
}

.board {
  max-width: 600px;
  margin-left: auto ;
  margin-right: auto ;
}

.newPost {
  position: relative;
}

.post {
  max-width: 600px;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px;
  border-color: rgba(128, 128, 128, 0.10);
  border-style: solid;
}

.post-content {
  color: black;
}

.post-time {
  font-size: 10px;
  color: gray;
  margin-left: 5px;
  margin-top: 5px;
}

.signup-text-header .login-text-header{
  text-align: left;
  text-size: 14px;
  text-weight: bold;
}

.sns-text-field {
  margin: 10px;
  margin-top: 20px;
  text-align: left;
}
.sns-text-field-title-holder {
  font-size: 14px;
  margin-bottom: 2px;
}

.sns-text-field-input-holder {
}

.sns-text-field-input {
  font-size: 18px;
  padding: 5px 10px;
  width: 100%;
  border-radius: 5px;
  border-color: #bdc7d8;
  border-width: 1px;
  border-style: solid;
}
 
.sns-text-field-error-text {
  color: red;
  font-size: 14px;
  margin-left: 10px;
}

.image-acknowledgement {
   opacity: 0.8;
   position: fixed;
   bottom: 5px;
   left: 10px;
   font-size: 12px;
   color: white;
}